{{!< default}}

{{#post}}

<article class="{{post_class}}">
  <section id="about" class="row">
    <h1 class="heading">
      <span>Josh Miramant</span>
      <span class="subtitle byline">Front-End Developer | San Francisco, CA</span>
      <span class="subtitle">Making The Web a More Beautiful Place</span>
      <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button" for="menu-open">
          <i class='fa fa-plus'></i>
        </label>

        <a href="http://joshmiramant.com/content/images/2016/03/wip_resume.pdf" target='_blanck' class="menu-item"> <i class="fa fa-download"></i> </a>
        <a href="https://github.com/jmiramant" target='_blanck' class="menu-item"> <i class="fa fa-github"></i> </a>

      </nav>
    <!-- filters -->
        <defs>
          <filter id="shadowed-goo">

              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
              <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
              <feOffset in="shadow" dx="1" dy="1" result="shadow" />
              <feComposite in2="shadow" in="goo" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
          <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
        </defs>
      </svg>
    </h1>

    <div class="eleven columns ">
    </div>
  </section>
  <hr></hr>
  <div id="post-content" class="{{post_class}}">
    {{content}}
    <div>blah blah blah</div>
  </div>

</article>

{{/post}}
