{{!< default}}

{{#post}}

<article class="{{post_class}}">
  <section id="about" class="row">
    <div class='loves'>
      <p>I <i class='fa fa-heart'></i></p>
      <div class="tlt">
          <ul class="texts">
              <li data-out-effect="fadeOutDown" data-in-effect="fadeInDown" data-out-shuffle="true" data-in-shuffle="true">making the web a delightful place</li>
              <li data-out-effect="fadeOutDown" data-in-effect="fadeInDown" data-out-shuffle="true" data-in-shuffle="true">well designed products</li>
              <li data-out-effect="fadeOutDown" data-in-effect="fadeInDown" data-out-shuffle="true" data-in-shuffle="true">the process of discovery</li>
              <li data-out-effect="fadeOutDown" data-in-effect="fadeInDown" data-out-shuffle="true" data-in-shuffle="true">learning new things</li>
          </ul>
      </div>
    </div>
    <h1 class="heading">
      <span>Josh Miramant</span>
      <span class="subtitle byline">Front-End Developer | San Francisco, CA</span>
      <span class="subtitle">Making The Web a More Beautiful Place</span>
      <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button" for="menu-open">
          <i class='fa fa-plus'></i>
        </label>

        <a href="http://joshmiramant.com/content/images/2016/03/wip_resume.pdf" target='_blanck' class="menu-item"> <i class="fa fa-download"></i> </a>
        <a href="https://github.com/jmiramant" target='_blanck' class="menu-item"> <i class="fa fa-github"></i> </a>

      </nav>
    <!-- filters -->
        <defs>
          <filter id="shadowed-goo">

              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
              <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
              <feOffset in="shadow" dx="1" dy="1" result="shadow" />
              <feComposite in2="shadow" in="goo" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
          <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
        </defs>
      </svg>
    </h1>

    <div class="eleven columns manifesto">
      <p>Though I love building things, that is just one piece of the puzzle for me. Who is the user? How do we meet thier needs? How do we know what we've built is working? These questions are all part of development for me.</p>
      <p>I'm a JavaScript junkie, warts and all. The isomorohic capabilities and tend to make up for any deficiencies, but coming to JS from Ruby, it took a few years to develop a love. Think of it more as a <a href='http://totescute.com/four-types-of-love-greek-style/' target='_blank'>Phileo love than an Eros love.</a></p>

      <p>I've built 2 VC-backed starups from the ground up and have just enough cognitive dissonance to still love doing it. I love to work with great teams, great products and challenging problems.</p>

      <p>I like complex frontend projects. I've built production apps in Angular 1.*, React and Backbone (sorry Ember...I'll get to you soon). I certainly have opinions on each framework but storgnly believe the tools should meet the needs of project and not the other way around.</p>

      <p>I'm currently looking for intesting <span class='strike-text'>full-time</span> contracts. I'd love to get in touch to discuss ideas or projects.</p>
    <p></p>
    </div>
    </div>
  </section>
  <hr></hr>
  <div id="post-content" class="{{post_class}}">
    {{content}}
  </div>

</article>

{{/post}}
